[submodule "qemu"]
	path = qemu
	url = https://github.com/PENGLAI-ZGC-TEE/qemu.git
[submodule "linux"]
	path = linux
	url = https://gitlab.com/riseproject/riscv-optee/linux.git
[submodule "optee_os"]
	path = optee_os
	url = https://gitlab.com/riseproject/riscv-optee/optee_os.git
